body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background: linear-gradient(25deg, #F2AA7E, #FFFBFE) ; */
  background-repeat: no-repeat; 
  background-color: #EEE3CB;
}

code {
  font-family: "Montserrat"
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;